footer.quickey-footer {
    border-top: solid 1px #eee;
    color: #aaa;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;

    a.quickey-credit {
        font-size: 12px;
        color: #aaa;
        text-decoration: none;
    }
}