.quickey-no-results-message {
    text-align: center;

    h2 {
        color: #aaa;
        font-size: 42px;
        margin: 20px 0 0 0;
    }

    h3 {
        color: #444;
        margin: 10px 0;
    }
}